.navContainer {
  width: 100%;
  height: 80px;
  background-color: rgb(41, 48, 80);

  display: flex;
  justify-content: center;
  align-items: center;
}
.contentNav {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
}

.full {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.btnMenu {
  font-size: 30px;
  cursor: pointer;
}

.boxMenu {
  position: fixed;
  background-color: rgba(247, 237, 237, 0.9);
  width: 300px;
  top: 0;
  left: -100%;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s linear;
}
.showMenu {
  left: 0;
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: black;
}

.items {
  width: 100%;
  position: absolute;
  top: 50px;
}
.items > .menuItem {
  height: 60px;
  color: #293050;
}
.items > .menuItem:hover {
  background-color: #36373a;
  color: white;
}

.movil {
  display: none;
}

.menuItem {
  font-size: 20px;
  display: flex;
  gap: 10px;
  color: white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.boxGroup {
  display: flex;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  overflow: hidden;
}

.boxGroup:focus-within {
  box-shadow: 0px 0px 10px rgb(223, 217, 217);
}

.boxIcon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;

  background-color: rgb(223, 217, 217);
  color: #3f3d3d;

  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.inputSearch {
  height: 40px;
  width: 220px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 15px;
  color: rgb(177, 172, 172);
}

.boxLogout {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.boxLogout > span {
  font-size: 12px;
  color: white;
}

.icon {
  color: rgb(226, 153, 131);
  cursor: pointer;
  font-size: 26px;
}

.icon:active {
  transform: scale(0.9);
}

.active {
  color: wheat;
}
.btnLogout {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #293050;
}

.btnLogout:hover {
  background-color: #36373a;
  color: white;
}
/* Medias */
@media (width < 1000px) {
  .fixed {
    position: fixed;
  }
  .full {
    display: none;
  }
  .movil {
    display: block;
  }

  .active {
    background-color: #36373a;
    color: white !important;
  }

  .boxLogout {
    display: none;
  }

  .logout {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
