.containerToast {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  border-bottom-left-radius: 20px;
  transform: translateY(120%);
  animation: show 2s linear forwards;
}
.toast {
  color: white;
  font-size: 20px;
}

.hide {
  animation: hide 3s linear 3s;
}

@keyframes show {
  to {
    transform: translateY(0);
  }
}

@keyframes hide {
  to {
    transform: translateY(120%);
  }
}
